.DS_Store
.idea/
.vscode/
*.iml
backend/.gradle/
backend/build/
frontend/node_modules/
frontend/dist/
.env
airflow/logs/
airflow/__pycache__/
airflow/dags/__pycache__/
analytics-api/**/__pycache__/
analytics-api/.pytest_cache/
